/*desktop*/
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'source sans pro';
  letter-spacing: .5px;
  overflow: hidden;
  /* background:black; */
}
/* modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color:rgba(255, 255, 255, .8); /* Fallback color */
    /* background-color: rgba(0,0,0,0.4);  Black w/ opacity  */
}
.title-modal{
    width: 68%;
    display: block;
    margin: 1rem auto;
    font-weight: 200;
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    /* border: 1px solid #888; */
    /* width: 80%; */
    width: 60%;
    opacity: .8;
}
.modal-footer{
    text-align: center;
    margin: 1rem 0;
}
.modal-footer button{
    font-weight: 100;
    letter-spacing: 1px;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
form{
    width: 100%;
    height: 100%;
    text-align: center;
}
form .field{
    display: block;
}
form .field label{
    display: inline-block;
    width: 65%;
    text-align: left;
}
form .fields{
    margin: 2rem 0;
    width: 100%;
}
form .fields .field{
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
form .field input[type="email"]{
    /* border-radius: 10px; */
    width: 65%;
    height: 2rem;
    border:0;
    border-bottom:1px solid #303030;
    /* border: 1px solid #303030; */
    margin: 1rem 0;
}
form .field input[type="text"]{
    /* border-radius: 10px; */
    width: 65%;
    height: 2rem;
    border:0;
    border-bottom:1px solid #303030;
    /* border: 1px solid #303030; */
    margin: 1rem 0;
}
::-webkit-input-placeholder{
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0;
    color:#dadada;
    font-weight: 100;
    letter-spacing: 1px;
}
form .row{
  width:50%;
  display: inline-block;
}
form .field textarea{
    width: 73%;
    border-radius: 10px;
    height: 10rem;
}
#comentario{
    width: 80%;
    height: 12rem;
    border-radius: 10px;
}  
.send{
    display: inline-block;
    width: 25%;
    height: 2rem;
    border-radius: 10px;
    background: #ff480c;
    color: white;
    border: 0;
    font-size: 1rem;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* modal  */
.active{
  color:#ff480c !important;
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
  /* background-image: url('../img/background.jpg');
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat; */
  /* opacity: 0.8; */
}
.container .bg{
  position: absolute;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}
.container .languages{
  position: absolute;
  right: 2rem;
  top: 1rem;
  color:white;
  z-index: 4;
}
.container .languages a{
  cursor:pointer;
  color:white;
  text-decoration: none;
  font-weight: 100;
}
.container .row{
  width: 50%;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  position: relative;
}
.container .row .one .redes{
  width: 100%;
  height: 3rem;
  /* position: absolute;
  bottom: -10%; */
  text-align: center;
}
.container .row .one .redes .item{
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem 0.2rem;
  opacity: 0.6;
  border-radius: 50%;
  display: inline-block;
  background-position: center;
  background-size:100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}
#fb{
  background-image: url('https://s3-sa-east-1.amazonaws.com/manki/static/assets/ssl/fb.png');
}
#instagram{
  background-image: url('https://s3-sa-east-1.amazonaws.com/manki/static/assets/ssl/insta.png');
}
#medium{
  background-image: url('https://s3-sa-east-1.amazonaws.com/manki/static/assets/ssl/medium.png');
}
#pinterest{
  background-image: url('https://s3-sa-east-1.amazonaws.com/manki/static/assets/ssl/pinterest.png');
}
#spotify{
  background-image: url('https://s3-sa-east-1.amazonaws.com/manki/static/assets/ssl/spotify.png');
}
.container .row .one .foot-text{
  text-align: center;
  width: 100%;
}
.container .row .one .foot-text a{
  color:white;
  font-size: 0.8rem;
  font-weight: 100;
  text-decoration: underline;
  cursor:pointer;
}
.container .row .one{
  width: 100%;
  height: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.container .row .one .container-logo{
  width: 100%;
  position: relative;
  height: 15%;
  /* margin-top:10%; */
}
.container .row .one .container-logo .box-logo{
  width:100%;
  height: 100%;
  text-align: center;
}
.container .row .one .container-logo .box-logo .logo{
  background-image: url('https://s3-sa-east-1.amazonaws.com/manki/static/assets/ssl/logo.svg');
  background-position: center;
  background-size:100% 100%;
  background-repeat:no-repeat;
  width: 4rem;
  height:4rem;
  display: inline-block;
  vertical-align: middle;
}
.container .row .one .container-logo .box-logo .name{
  display: inline-block;
  color:#ff480c;
  font-size: 2rem;
  width: 20%;
  vertical-align: middle;
}
.container .row .one .container-text{
  width: 100%;
  position: relative;
  text-align: center;
  /* height: 16rem; */
  height: auto;
}
.container .row .one .container-text .messenger{
  width:100%;
  height: 3rem;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.container .row .one .container-text .messenger button{
  width: 40%;
  display: inline-block;
  height: 3rem;
  color:white;
  background-color: #4da8e9;
  border-radius: 10px;
  border: 0;
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 1rem;
  cursor: pointer;
}
.container .row .one .container-text .text{
  position: relative;
  width: 78%;
  display: inline-block;
  color:white;
  text-align: center;
  font-weight: 100;
  font-size: 1.8rem;
}
.container .row .two{
  width: 100%;
  height: 100%;
  position: relative;
}
.container .row .two .image{
    width: 20rem;
    height: 35rem;
    background-image: url("https://s3-sa-east-1.amazonaws.com/manki/static/assets/ssl/iphone.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.container .row .two .messenger{
  width:100%;
  height: 3rem;
  text-align: center;
  position: relative;
}
.container .row .two button{
  width: 80%;
  display: inline-block;
  height: 3rem;
  color:white;
  background-color: #4da8e9;
  border-radius: 10px;
  border: 0;
  margin-left: 12%;
  font-size: 0.9rem;
  font-weight: 300;
}
@media (max-width:500px){
 #r2{
   display: none;
 } 
.container{
  /* background-image: url('../img/background_mobile.jpg'); */
}
 .container .row{
   width:100%;
 }
.container .row .one .container-logo {
    width: 100%;
    position: relative;
    height: 15%;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .container .row .one .container-text .text {
    width: 100%;
    display: inline-block;
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 1.5rem;
  }
}
@media (min-width:1450px){
  .container .row .two .image {
    width: 25rem;
    height: 44rem;
  }
  .container .row .one{
    height: 45% !important;
  }
}